* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: hsl(223, 47%, 23%);
  font-style: normal;
}
.container {
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 98%);
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
}

.wrapper {
  width: 90%;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 100%;
  border-radius: 24px 24px 0px 0px;
}

.general {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  background-color: hsl(225, 100%, 93.9%);
  padding: 32px 48px;
  border-radius: 0px 0px 24px 24px;
}
.content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.summary {
  text-align: center;

  font-weight: 700;
}

.paragraph {
  text-align: center;
  line-height: 1.4;
  color: hsl(224, 23%, 55%);
}
.plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(225, 100%, 98%);
  border-radius: 8px;
  padding: 12px 16px;
}
.years {
  display: flex;
  align-items: center;
  gap: 18px;
  font-weight: bolder;
}
.plan-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.change {
  text-align: center;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  border: none;
  font-weight: 700;
}
.change:hover {
  text-decoration: none;
}

.proceed {
  display: flex;
  flex-direction: column;

  gap: 8px;
}
.process {
  font-weight: bolder;
  background-color: blue;
  color: white;
  padding: 10px 10px 15px 15px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
.plan-box h6 {
  font-weight: bolder;
  font-size: 16px;
}
.plan-box p {
  color: hsl(224, 23%, 55%);
  font-size: 12px;
}
.cancel {
  color: hsl(223, 47%, 23%);
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 10px 15px 15px;
  border-radius: 8px;
  font-weight: bolder;
}
@media (max-weight: 768px) {
  .container {
    background-image: url(images/pattern-background-mobile.svg);
    padding: 10px;
  }
  .general {
    padding: 20px;
  }
  .plan {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
  }
  .years {
    flex-direction: column;
    gap: 10px;
  }
  .process {
    font-size: 14px;
    padding: 12px;
  }
  .cancel {
    font-size: 14px;
  }
}
